.single-card-movie {
   width: 100%;
    background-color: gray;
    color: white;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
    margin-bottom: 20px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    display: block;
}

.cardBody {
    margin-top: 20px;
    padding: 10px;
}

.single-card-movie h3 {
    margin: 5px 0 10px;
    font-size: 18px;
}

.single-card-movie p {
    margin-top: 10px;
}

.single-card-movie button {
    cursor: pointer;
}

.single-card-movie button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
}

.single-card-movie a {
    color: white;
}