body {
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial;
}

a {
    color: white;
}

button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}